@font-face {
  font-family: "Courier New", Courier, monospace;
  src: url();
}
@font-face {
  font-family: "Brilant";
  src: url();
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 2fr);

  padding: 5px;
  gap: 1rem;
}

.box-master {
  display: grid;

  /* background-color: #7a1027; */
  background: linear-gradient(45deg, #7a1027, #e01d47, #eb7c95);
  border-radius: 15px;
  border: 0.5px;
}

.box-master a {
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  color: aliceblue;
}

.split {
  display: grid;
  grid-template-columns: repeat(2, 4fr);
}

.smallpush {
  display: flex;
  justify-content: end;
}
