.split {
  display: grid;
  grid-template-columns: repeat(2, 4fr);
}

.smallpush {
  display: flex;
  justify-content: end;
}
/* 
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  padding: 4px;
  gap: 1rem;
} */

img {
  width: 300px;
  margin: 0;
}

.lukketkasse {
  gap: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  gap: 30px;
  margin: 2em;
}

p {
  padding: 0;
}

.price {
  gap: 1em;
  text-decoration-line: line-through;
}

.price p {
  gap: 1em;
  text-decoration-line: line-through;
}

.img-box {
  /* width: 100%; */
  aspect-ratio: 2 / 5;
  display: grid;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
}

/* .img-box {
  width: 100%;
  height: 100%;
  object-fit: fill;
} */

/* Til at aligne cards ordenligt, dette er en styling */
section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
}

.text-ryk {
  padding-left: 1em;
}
